.main {
  background-image: url('../assets/img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-text-by {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-text-by-link, .navbar-text-by-link:active {
  color: burlywood;
  font-weight: bold;
  text-decoration: none;
}

.navbar-text-by-link:hover {
  text-decoration: underline;
}

.navbar-text-title-link, .navbar-text-title-link:active {
  vertical-align: bottom;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-decoration: none;
}

.navbar-text-title-link:hover {
  vertical-align: bottom;
  color: black;
  text-decoration: none;
}

.navbar-image {
  text-align: right;
}

span {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.background-search {
  background-image: url('../assets/img/prova.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}

.background-div {
  background-color: rgba(255, 255, 255, 0.5);
  //background-image: url('https://cdn-images-1.medium.com/max/2600/1*sYcrMSjHduNwYU-dI45L9w.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  border: 1px solid black;
}

.div-properties {
  padding-bottom:10px;
  background-color: rgba($color: burlywood, $alpha: 0.5);
  border: 1px solid black;
  border-radius: 5px;
}

.div-image {
  padding:10px;
  text-align: center;
  background-color: rgba($color: rgb(255, 224, 184), $alpha: 0.5);
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
}

.span-image-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.div-property {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba($color: rgb(155, 109, 49), $alpha: 0.5);
}

.div-property-value {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  background-color: rgba($color: white, $alpha: 0.5);
}

.style-property {
  text-decoration: underline;
  font-weight: bold;
}

.row-property {
  display: flex;
  flex-wrap: wrap;
}

.style-button {
  height: 100%;
  width: 100%;
}

.span-search-by {
  padding-left: 10px;
  padding-right: 10px;
}

.style-form {
  background-color: rgba($color: rgba(255, 255, 255, 0.5), $alpha: 0.5);
  padding: 10px;
  margin-top: 15px;
}

.md-form label {
  left: 15px;
  color: black;
}

.md-form input[type=text] {
  border-bottom: 1px solid black; 
}

.md-form input[type=text]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 black;
  border-bottom: 1px solid black; 
}

.md-form input[type=text]:focus:not([readonly]) + label {
  color: black;
}

#search1 {
  padding-left: 15px;
}
