<!--The content below is only a placeholder and can be replaced.-->
<div class="background">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <form>
    <div class="md-form active-pink active-pink-2 mb-3 background-search">
      <input class="form-control" type="text" id="search1" aria-label="Search" mdbInput [(ngModel)]="term" [ngModelOptions]="{standalone: true}">
      <label for="search1" class="background-button-search">Search</label>
    </div>
  </form>

  <div *ngIf="cards" class="container">
    <div *ngFor="let card of cards | filter: term" class="row mt-3">
      <div class="col-md-6 divProperties">
        <span>id: {{card.id}}</span><br/>
        <span>name: {{card.name}}</span><br/>
        <span>type: {{card.type}}</span><br/>
        <span>power: {{card.power}}</span><br/>
        <span>toughness: {{card.toughness}}</span><br/>
        <span>rarity: {{card.rarity}}</span><br/>
        <span>colors: {{card.colors}}</span><br/>
        <span>manaCost: {{card.manaCost}}</span><br/>
        <span>originalType: {{card.originalType}}</span><br/>
        <span>originalText: {{card.originalText}}</span><br/>
        <span>artist: {{card.artist}}</span>
      </div>
      <div class="col-md-6 divImage">
        <img [src]="card.imageUrl"/>
      </div>
    </div>
  </div>
</div>